extends: default

ignore: |
  {{ cookiecutter.project_slug }}/docker-compose.yml
  {{ cookiecutter.project_slug }}/docker-compose.test.yml
  {{ cookiecutter.project_slug }}/docker-compose.dev.yml

rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: false
  line-length: false
